.selector-for-some-widget {
  box-sizing: content-box;
}

.background {
  overflow: auto;
  background-color: #E0E0E0;
}

.img{
  overflow: hidden;
}

.parent-container {
  min-height: 100%;  
  min-height: 100vh; 
  
  display: flex;
  align-items: center;
}

.card {
  padding: 53px;
  height: 602px;
  width: 545px;
}

.links {
  margin-top: 15px;
}

.error {
  margin-top: -30px;
}